.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SideBar {
  position: relative;
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
}
.productfirstpage {
  margin-left: 250px;
}
.users {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.user {
  display: flex;
  justify-content: space-between;
}
.useradd {
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 30px;
  margin-bottom: 20px;
  display: grid;
  row-gap: 10px;
  border-radius: 20px;
}
.useraddhead {
  background-color: #1976d2;
  text-align: start;
  color: aliceblue;
}
.search {
  background-color: #1976d2;
  width: 180px;
  height: 40px;
  border-radius: 20px;
}
.firstPage {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 30px;
  margin-bottom: 20px;

  row-gap: 10px;
  border-radius: 20px;
}
